<%= form_with(model: article, class: "  space-y-6 w-full max-w-md mx-auto")  do |form| %>
  <% if article.errors.any? %>
    <div class="alert alert-error text-white">
      <div>
        <h2 class="font-bold"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul class="list-disc pl-5">
          <% article.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-control">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "input input-bordered" %>
  </div>

  <div class="form-control">
    <%= form.label :report_count, class: "label" %>
    <%= form.number_field :report_count, class: "input input-bordered" %>
  </div>

    <div class="form-control">
    <%= form.label :avatar, class: "label" %>
    <%= form.file_field :avatar, class: "file-input file-input-bordered" %>
  </div>
  <div class="form-control">
    <%= form.label :content, class: "label" %>
    <%= form.text_area :content, class: "textarea textarea-bordered" %>
  </div>

  <div>
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
